
.main-container {
   /*display: flex;*/
 /* flex-direction: column;
  justify-content: center;*/
/*  align-items: center;*/
  height: 100vh;
  z-index: 1;
}

.particles {
    position:fixed !important;
   /* background: #FEAC5E;*/
    background: -webkit-linear-gradient(to right, rgb(41, 78, 148), rgb(72, 56, 128));
    background: linear-gradient(to right, rgb(41, 78, 148), rgb(72, 56, 128));
    z-index: -1;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.5rem;
  height: 88vh;
  z-index: 1;
  /*background-color: black;*/
}

.header {
    left:0;
    top:0;
    width:100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    
    border-bottom: 1px solid rgba(103, 246, 247, .2);;

}

h1 {
  font-size: 4rem;
  color: #f5f7f7;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  color: #f5f7f7;

}

.wrong {
  background-color: #ffb8b3 !important;
}