
.main-container {
   /*display: flex;*/
 /* flex-direction: column;
  justify-content: center;*/
/*  align-items: center;*/
  height: 100vh;
  z-index: 1;
}

.particles {
    position:fixed !important;
   /* background: #FEAC5E;*/
    background: -webkit-linear-gradient(to right, rgb(41, 78, 148), rgb(72, 56, 128));
    background: linear-gradient(to right, rgb(41, 78, 148), rgb(72, 56, 128));
    z-index: -1;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.5rem;
  height: 88vh;
  z-index: 1;
  /*background-color: black;*/
}

.header {
    left:0;
    top:0;
    width:100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    
    border-bottom: 1px solid rgba(103, 246, 247, .2);;

}

.header-title {
  margin-right: auto;
  padding-left: 30px;
}

h1 {
  font-size: 4rem;
  color: #f5f7f7;
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 2rem;
  color: #f5f7f7;
  font-family: 'Quicksand', sans-serif;

}

.header-items {
  padding: 15px;
}

.greenFade {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

    @keyframes fadein {
    0% { color: #6cf542; }
    70% { color: #6cf542; }
    100%  { color: #f5f7f7; }

}

.wrong {
  background-color: #ffb8b3 !important;
}