/*body {
  background-color: grey;
}*/

.particles {
    position:fixed !important;
    /*background: #FEAC5E;*/
    background: -webkit-linear-gradient(to right, rgb(41, 78, 148), rgb(72, 56, 128));
    background: linear-gradient(to right, rgb(41, 78, 148), rgb(72, 56, 128));
    z-index: -1;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.App {
  text-align: center;
  /*background-color: black;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: black;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
